## Introduction

The objectives of this notebook are:  
1. Understanding data manipulation in Pandas.
2. Learning the internal working of matplotlib library.
3. Understanding Standard Deviation, Variance through examples.
4. Visualizing all statistical features like Z-scores etc.
5. Feature transformation:
       a. Standardization
       b. Normalization
       c. Log Transformations

In [24]:
import pandas as pd
import palmerpenguins as pp
##to see the package details
#!pip show palmerpenguins

In [14]:
#checking what all present in palmerpenguins library.
dir(palmerpenguins)

In [25]:
#load the dataset
penguin_data = pp.load_penguins()

In [28]:
penguin_data.head(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

In [29]:
penguin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB